Repository plouc/nivo, pull requests merged in 2018-05, with the labels that each got.

#189 feat(pie): add support for onClick event
  .editorconfig
  packages/nivo-pie/src/Pie.js
  packages/nivo-pie/src/PieSlice.js
  packages/nivo-pie/src/props.js
  website/src/components/charts/pie/Pie.js
  website/src/components/charts/pie/props.js
  website/src/lib/generateChartCode.js
Labels: enhancement, pie

#193 feat(bar): improve custom tooltip support
  conf/rollup.config.js
  package.json
  packages/nivo-bar/src/BarItem.js
  packages/nivo-bar/stories/bar.stories.js
  packages/nivo-bar/stories/barCanvas.stories.js
  website/src/components/charts/bar/Bar.js
  website/src/components/charts/bar/BarCanvas.js
  website/src/components/charts/bar/props.js
  website/src/components/charts/bar/propsMapper.js
  website/src/components/controls/SwitchControl.js
  website/src/components/properties/ComponentPropsDocumentation.js
  yarn.lock
Labels: bar, tooltip

#194 feat(heatmap): add support for onClick event
  packages/nivo-heatmap/src/HeatMap.js
  packages/nivo-heatmap/src/HeatMapCanvas.js
  packages/nivo-heatmap/src/HeatMapCellCircle.js
  packages/nivo-heatmap/src/HeatMapCellRect.js
  packages/nivo-heatmap/src/props.js
  website/src/components/charts/heatmap/HeatMap.js
  website/src/components/charts/heatmap/HeatMapCanvas.js
  website/src/components/charts/heatmap/props.js
Labels: enhancement, heatmap

#198 Type declaration module for Heatmap package
  packages/nivo-heatmap/index.d.ts
Labels: typescript

#207 Definitions for Pie component
  packages/nivo-pie/index.d.ts
Labels: pie, typescript

#208 feat(pie): add support for custom tooltip
  packages/nivo-pie/index.d.ts
  packages/nivo-pie/src/Pie.js
  packages/nivo-pie/src/PieSlice.js
  packages/nivo-pie/src/props.js
  website/src/components/charts/pie/Pie.js
  website/src/components/charts/pie/props.js
  website/src/components/charts/pie/propsMapper.js
Labels: pie, tooltip

#209 feat(radar): add ability to define max value
  packages/nivo-radar/src/Radar.js
  website/src/components/charts/radar/Radar.js
  website/src/components/charts/radar/props.js
Labels: enhancement, radar

#210 feat(sankey): add gradient & blend mode support for links
  packages/nivo-sankey/src/Sankey.js
  packages/nivo-sankey/src/SankeyLabels.js
  packages/nivo-sankey/src/SankeyLinks.js
  packages/nivo-sankey/src/SankeyLinksItem.js
  packages/nivo-sankey/src/SankeyNodes.js
  packages/nivo-sankey/src/props.js
  website/src/components/charts/sankey/Sankey.js
  website/src/components/charts/sankey/SankeyAPI.js
  website/src/components/charts/sankey/SankeyPage.js
  website/src/components/charts/sankey/props.js
Labels: enhancement, sankey

#211 feat(sankey): add TypeScript definitions
  packages/nivo-sankey/index.d.ts
  packages/nivo-sankey/package.json
Labels: sankey, typescript
