Repository plouc/nivo, pull requests merged in 2019-05, with the labels that each got.

#538 fix(scales): fix time scale instantiation
  packages/scales/src/timeScale.js
Labels: :beetle: bug, :chart_with_upwards_trend: line

#540 Added domain prop to Choropleth and Choropleth Canvas
  packages/geo/src/Choropleth.js
  packages/geo/src/ChoroplethCanvas.js
  packages/geo/src/hooks.js
  packages/geo/src/props.js
  website/src/data/components/choropleth/props.js
  website/src/pages/choropleth/canvas.js
  website/src/pages/choropleth/index.js
Labels: :beetle: bug fix, choropleth

#550 fix(radar): fix Radar cached tooltip
  packages/radar/src/RadarTooltipItem.js
Labels: :beetle: bug fix, :speech_balloon: tooltip, radar
