Repository plouc/nivo, pull requests merged in 2020-06, with the labels that each got.

#1011 Migrate @nivo/line to react-spring
  packages/line/package.json
  packages/line/src/Areas.js
  packages/line/src/LinesItem.js
  packages/line/src/Points.js
  packages/line/tests/__snapshots__/Line.test.js.snap
  website/src/data/components/line/props.js
  website/src/pages/line/index.js
Labels: :chart_with_upwards_trend: line

#1015 Migrate @nivo/parallel-coordinates to react-spring and hooks
  packages/heatmap/src/HeatMapCanvas.js
  packages/parallel-coordinates/package.json
  packages/parallel-coordinates/src/ParallelCoordinates.js
  packages/parallel-coordinates/src/ParallelCoordinatesAxisDensityCircles.js
  packages/parallel-coordinates/src/ParallelCoordinatesAxisDensityPoly.js
  packages/parallel-coordinates/src/ParallelCoordinatesCanvas.js
  packages/parallel-coordinates/src/ParallelCoordinatesLayout.js
  packages/parallel-coordinates/src/ParallelCoordinatesLine.js
  packages/parallel-coordinates/src/ParallelCoordinatesLineTooltip.js
  packages/parallel-coordinates/src/enhance.js
  packages/parallel-coordinates/src/hooks.js
  packages/parallel-coordinates/src/props.js
  website/src/data/components/parallel-coordinates/props.js
  website/src/pages/parallel-coordinates/index.js
Labels: parallel-coordinates

#964 feat(calendar): add monthSpacing prop
  packages/calendar/index.d.ts
  packages/calendar/src/compute.js
  packages/calendar/src/enhance.js
  packages/calendar/src/props.js
  packages/calendar/stories/calendar.stories.js
  website/src/data/components/calendar/props.js
  website/src/pages/calendar/canvas.js
  website/src/pages/calendar/index.js
Labels: :calendar: calendar

#995 feat(sunburst): Add typescript definition
  packages/sunburst/index.d.ts
Labels: :sun_with_face: sunburst

#987 feat(line): add custom layer support to LineCanvas
  packages/line/src/LineCanvas.js
  packages/line/stories/LineCanvas.stories.js
Labels: :chart_with_upwards_trend: line, :framed_picture: canvas

#1024 Sunburst: custom tooltip
  packages/sunburst/src/Sunburst.js
  packages/sunburst/src/SunburstArc.js
  packages/sunburst/stories/sunburst.stories.js
Labels: :speech_balloon: tooltip, :sun_with_face: sunburst
