Repository plouc/nivo, pull requests merged in 2024-03, with the labels that each got.

#2531 feat(deps): upgrade d3-scale due to vulnerability
  packages/bar/package.json
  packages/boxplot/package.json
  packages/bump/package.json
  packages/calendar/package.json
  packages/colors/package.json
  packages/core/package.json
  packages/funnel/package.json
  packages/heatmap/package.json
  packages/legends/package.json
  packages/parallel-coordinates/package.json
  packages/radar/package.json
  packages/radial-bar/package.json
  packages/scales/package.json
  packages/scatterplot/package.json
  packages/swarmplot/package.json
  packages/voronoi/package.json
  pnpm-lock.yaml
  storybook/package.json
  website/package.json
Labels: security

#2532 fix(website): fix time based scale ticks demos
  website/src/components/guides/axes/scales.tsx
Labels: bug, website, :triangular_ruler: axes, :triangular_ruler: scales

#2525 feat(Bar): add bar totals
  packages/bar/src/Bar.tsx
  packages/bar/src/BarCanvas.tsx
  packages/bar/src/BarTotals.tsx
  packages/bar/src/compute/totals.ts
  packages/bar/src/hooks.ts
  packages/bar/src/index.ts
  packages/bar/src/props.ts
  packages/bar/src/types.ts
  packages/bar/tests/Bar.test.tsx
  storybook/stories/bar/Bar.stories.tsx
  website/src/data/components/bar/meta.yml
  website/src/data/components/bar/props.ts
  website/src/pages/bar/api.tsx
  website/src/pages/bar/canvas.js
  website/src/pages/bar/index.js
Labels: :bar_chart: bar
