Repository plouc/nivo, pull requests merged in 2024-07, with the labels that each got.

#2585 feat(Bar): Add option to chose label position
  packages/bar/src/Bar.tsx
  packages/bar/src/BarCanvas.tsx
  packages/bar/src/BarItem.tsx
  packages/bar/src/compute/common.ts
  packages/bar/src/props.ts
  packages/bar/src/types.ts
  packages/bar/tests/Bar.test.tsx
  storybook/stories/bar/Bar.stories.tsx
  website/src/data/components/bar/meta.yml
  website/src/data/components/bar/props.ts
  website/src/pages/bar/api.tsx
  website/src/pages/bar/canvas.js
  website/src/pages/bar/index.js
Labels: :bar_chart: bar, pending review fixes

#2601 feat(radar): add onClick handler
  packages/radar/src/Radar.tsx
  packages/radar/src/RadarLayer.tsx
  packages/radar/src/RadarSlice.tsx
  packages/radar/src/RadarSlices.tsx
  packages/radar/src/types.ts
  packages/radar/tests/Radar.test.tsx
  website/src/data/components/radar/props.ts
  website/src/pages/radar/index.tsx
Labels: radar

#2540 (feat)Line: add support for hiding line charts by default
  packages/line/index.d.ts
  packages/line/src/Line.js
  packages/line/src/hooks.js
  packages/line/src/props.js
  packages/line/tests/Line.test.js
  storybook/stories/line/Line.stories.tsx
  website/src/data/components/line/props.ts
Labels: :chart_with_upwards_trend: line
