Repository plouc/nivo, pull requests merged in 2025-04, with the labels that each got.

#2715 fix(heatmap): do not spread key prop
  packages/legends/src/svg/ContinuousColorsLegendSvg.tsx
Labels: :fire: heatmap

#2726 feat(line): allow using the point data to determine the point's color
  packages/line/src/Line.tsx
  packages/line/src/LineCanvas.tsx
  packages/line/src/defaults.ts
  packages/line/src/hooks.ts
  packages/line/src/types.ts
  website/src/data/components/line/props.ts
Labels: :chart_with_upwards_trend: line

#2731 feat(scales): allow to define nice and round options for the symlog scale
  packages/scales/src/symlogScale.ts
  packages/scales/src/types.ts
  packages/scales/tests/symlogScale.test.ts
Labels: :triangular_ruler: scales

#2732 feat(line): forward all props to custom layers
  packages/line/src/Line.tsx
  packages/line/src/types.ts
Labels: :chart_with_upwards_trend: line, :beetle: bug fix

#2710 feat(sankey): make it easy to use a different component for labels
  packages/sankey/src/Sankey.tsx
  packages/sankey/src/SankeyLabels.tsx
  packages/sankey/src/props.ts
  packages/sankey/src/types.ts
  packages/text/src/Text.tsx
Labels: sankey

#2736 Document Sankey layers and labelComponent
  website/src/data/components/sankey/mapper.ts
  website/src/data/components/sankey/props.ts
  website/src/pages/sankey/index.tsx
Labels: :book: documentation, sankey
